.footer {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-container {
  padding: 2rem 0 2rem;
}

.footer-title,
.footer-link {
  color: #333333;
}

.footer-title {
  text-align: center;
  margin-bottom: 2rem;
}

.footer-link:hover {
  color: #000000;
}

.footer-list {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer-social-link {
  background-color: #333333;
  color: #fff;
  font-size: 1.125rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: inline-flex;
}

.footer-social-link:hover {
  background-color: #000000;
}

.footer-copy {
  display: block;
  margin-top: 2.5rem;
  color: #333333;
  text-align: center;
  font-size: 0.813rem;
}

@media screen and (max-width: 992px) {
  .footer-social-link {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}
